.gethelp
{
position:absolute;
background-color:#ffffff;
height:3139px;
width:1440px;
padding:0px;
}
.rectangle42
{
background-color:rgba(217, 217, 217, 0.699999988079071);
height:1031px;
width:1440px;
position:absolute;
top:0px;
left:-1px;
}
.topnav
{
background-color:#ffffff;
height:132px;
width:1440px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
top:0px;
left:0px;
}
.mainlinks
{
height:21px;
width:803px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:44px;
position:absolute;
left:382px;
top:90px;
}
.plantpots
{
color:#726e8d;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
width:140px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.ceramics
{
color:#008080;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
align-self:flex-start;
left:184px;
top:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:70px;
display:flex;
}
.tables
{
color:#716d8d;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
align-self:flex-start;
left:298px;
top:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:37px;
display:flex;
}
.chairs
{
color:#716d8d;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
align-self:flex-start;
left:379px;
top:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:261px;
display:flex;
}
.crockery
{
color:#716d8d;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
align-self:flex-start;
left:684px;
top:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:75px;
display:flex;
}
.cutlery
{
color:#716d8d;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
align-self:flex-start;
left:803px;
top:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.divider
{
width:1386px;
transform:rotate(0deg);
border:1px solid rgba(0, 0, 0, 0.10000000149011612);
top:70px;
left:28px;
position:absolute;
}
.staycalm,helpisontheway.
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:96px;
font-family:Marko One;
line-height:99.58203434944153px;
border-style:hidden;
outline:none;
left:362px;
top:371px;
position:absolute;
width:714px;
}
.youcanaccesstoourshelters
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Marko One;
left:39px;
top:1136px;
width:858px;
height:64px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.herebesideourlistofsheltersyoucancontactthemdirectlyorusetheirlocations.theywilltakecareofyou.
{
color:#1f7d9f;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Marko One;
left:54px;
top:1227px;
width:555px;
height:152px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group102
{
width:326.5126953125px;
height:462.999755859375px;
top:1255px;
left:1071px;
position:absolute;
}
.shelter1
{
color:rgba(18, 124, 162, 0.8199999928474426);
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Plus Jakarta Sans;
left:1128.51px;
top:1265px;
width:152px;
height:69px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group36
{
width:213.80133056640625px;
height:83.75364685058594px;
top:1450px;
left:1074px;
position:absolute;
}
.playarrow
{
background-color:#ffffff;
height:62.03974151611328px;
width:41.51482009887695px;
padding:0px;
left:1074px;
top:1450px;
position:absolute;
}
.vector
{
background-color:#2596be;
height:36.18984603881836px;
width:19.027624130249023px;
width:19.027624130249023px;
height:36.18984603881836px;
left:0px;
top:0px;
position:absolute;
}
.shelter2
{
color:rgba(18, 124, 162, 0.8199999928474426);
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Poppins;
left:1123.81px;
top:1450px;
width:163.98355102539062px;
height:83.75364685058594px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.playarrow2
{
background-color:#ffffff;
height:62.03974151611328px;
width:41.51482009887695px;
padding:0px;
left:1071px;
top:1255px;
position:absolute;
}
.vector2
{
background-color:#2596be;
height:36.18984603881836px;
width:19.027624130249023px;
width:19.027624130249023px;
height:36.18984603881836px;
left:0px;
top:0px;
position:absolute;
}
.group37
{
width:214.8391876220703px;
height:83.75364685058594px;
top:1513.26px;
left:1074.03px;
position:absolute;
}
.playarrow3
{
background-color:#ffffff;
height:62.03974151611328px;
width:41.51482009887695px;
padding:0px;
left:1074.03px;
top:1513.26px;
position:absolute;
}
.vector3
{
background-color:#2596be;
height:36.18984603881836px;
width:19.027624130249023px;
width:19.027624130249023px;
height:36.18984603881836px;
left:0px;
top:0px;
position:absolute;
}
.shelter3
{
color:rgba(18, 124, 162, 0.8199999928474426);
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Poppins;
left:1123.85px;
top:1513.26px;
width:165.0214080810547px;
height:83.75364685058594px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group38
{
width:217.9528045654297px;
height:83.75364685058594px;
top:1575.3px;
left:1074.03px;
position:absolute;
}
.playarrow4
{
background-color:#ffffff;
height:62.03974151611328px;
width:41.51482009887695px;
padding:0px;
left:1074.03px;
top:1575.3px;
position:absolute;
}
.vector4
{
background-color:#2596be;
height:36.18984603881836px;
width:19.027624130249023px;
width:19.027624130249023px;
height:36.18984603881836px;
left:0px;
top:0px;
position:absolute;
}
.shelter4
{
color:rgba(18, 124, 162, 0.8199999928474426);
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Poppins;
left:1123.85px;
top:1575.3px;
width:168.13502502441406px;
height:83.75364685058594px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group39
{
width:216.91493225097656px;
height:83.75364685058594px;
top:1634.24px;
left:1074.03px;
position:absolute;
}
.playarrow5
{
background-color:#ffffff;
height:62.03974151611328px;
width:41.51482009887695px;
padding:0px;
left:1074.03px;
top:1634.24px;
position:absolute;
}
.vector5
{
background-color:#2596be;
height:36.18984603881836px;
width:19.027624130249023px;
width:19.027624130249023px;
height:36.18984603881836px;
left:0px;
top:0px;
position:absolute;
}
.shelter5
{
color:rgba(18, 124, 162, 0.8199999928474426);
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Poppins;
left:1123.85px;
top:1634.24px;
width:167.09715270996094px;
height:83.75364685058594px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.locationphonenumber
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Plus Jakarta Sans;
left:1128.51px;
top:1317px;
width:269px;
height:140px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ellipse10
{
background-color:#000000;
height:5px;
width:5px;
transform:rotate(-180deg);
top:1384px;
left:1123px;
position:absolute;
border-radius:50%;
}
.ellipse11
{
background-color:#000000;
height:5px;
width:5px;
transform:rotate(-180deg);
top:1341px;
left:1123px;
position:absolute;
border-radius:50%;
}
.line7
{
width:1310.056640625px;
transform:rotate(0deg);
border:3px solid #d9d9d9;
top:1200.17px;
left:67px;
position:absolute;
}
.getintouchwithus
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Marko One;
left:39px;
top:1660px;
width:858px;
height:64px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line72
{
width:1310.056640625px;
transform:rotate(0deg);
border:3px solid #d9d9d9;
top:1731.96px;
left:60.97px;
position:absolute;
}
.frame313
{
background-color:#008080;
height:196px;
width:1244px;
border-radius:15px;
padding:0px;
left:98px;
top:1825px;
position:relative;
}
.ourhotline
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:68px;
left:169px;
position:absolute;
width:262px;
}
.82
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:68px;
left:1078px;
position:absolute;
width:78px;
}
.frame314
{
background-color:#008080;
height:193px;
width:1244px;
border-radius:15px;
padding:0px;
left:98px;
top:2077px;
position:relative;
}
.text
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:67px;
left:169px;
position:absolute;
width:98px;
}
.-23467979779
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:66px;
left:862px;
position:absolute;
width:285px;
}
.frame315
{
background-color:#008080;
height:193px;
width:1244px;
border-radius:15px;
padding:0px;
left:98px;
top:2332px;
position:relative;
}
.email
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:67px;
left:169px;
position:absolute;
width:119px;
}
.sacure@gmail.com
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:67px;
left:744px;
position:absolute;
width:412px;
}
.footer
{
background-color:#008080;
height:380px;
width:1440px;
padding:0px;
border-style:hidden;
outline:none;
top:2764px;
left:2px;
position:absolute;
}
.menu
{
height:176px;
width:132px;
padding:0px;
display:flex;
flex-direction:column;
gap:12px;
left:82px;
top:58px;
position:relative;
}
.menu2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
width:64px;
}
.newarrivals
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:33px;
left:0px;
position:absolute;
width:102px;
}
.bestsellers
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:64px;
left:0px;
position:absolute;
width:69px;
}
.recentlyviewed
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:95px;
left:0px;
position:absolute;
width:118px;
}
.popularthisweek
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:126px;
left:0px;
position:absolute;
width:132px;
}
.allproducts
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:157px;
left:0px;
position:absolute;
width:72px;
}
.categories
{
height:207px;
width:99px;
padding:0px;
display:flex;
flex-direction:column;
gap:12px;
left:299px;
top:58px;
position:relative;
}
.categories2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
width:48px;
}
.crockery2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:33px;
left:0px;
position:absolute;
width:43px;
}
.furniture
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:64px;
left:0px;
position:absolute;
width:60px;
}
.homeware
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:95px;
left:0px;
position:absolute;
width:32px;
}
.plantpots2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:126px;
left:0px;
position:absolute;
width:86px;
}
.chairs2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:157px;
left:0px;
position:absolute;
width:99px;
}
.crockery3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:188px;
left:0px;
position:absolute;
width:50px;
}
.copyright2022avionltd
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
left:80px;
top:336px;
width:169px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ourcompany
{
height:176px;
width:116px;
padding:0px;
display:flex;
flex-direction:column;
gap:12px;
left:516px;
top:58px;
position:relative;
}
.ourcompany2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
width:116px;
}
.aboutus
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:33px;
left:0px;
position:absolute;
width:65px;
}
.vacancies
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:64px;
left:0px;
position:absolute;
width:74px;
}
.contactus
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:95px;
left:0px;
position:absolute;
width:78px;
}
.privacy
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:126px;
left:0px;
position:absolute;
width:56px;
}
.returnspolicy
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
line-height:auto;
border-style:hidden;
outline:none;
top:157px;
left:0px;
position:absolute;
width:45px;
}
.joinourmailinglist
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
left:730px;
top:58px;
width:167px;
height:21px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line11
{
width:1277px;
border:1px solid #308f96;
top:312px;
left:80px;
position:absolute;
}
.sociallinks
{
height:24px;
width:264px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:24px;
position:absolute;
top:334px;
left:1093px;
}
.logo--linkedin
{
background-color:#ffffff;
height:24px;
width:24px;
padding:0px;
border-style:hidden;
outline:none;
}
.vector6
{
background-color:#ffffff;
height:17.924999237060547px;
width:18px;
width:18px;
height:17.924999237060547px;
left:3px;
top:3px;
position:absolute;
}
.logo--facebook
{
background-color:#ffffff;
height:24px;
width:24px;
align-self:flex-start;
left:48px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector7
{
background-color:#ffffff;
height:18px;
width:18px;
width:18px;
height:18px;
left:3px;
top:3px;
width:18px;
height:18px;
position:absolute;
}
.logo--instagram
{
background-color:#ffffff;
height:24px;
width:24px;
align-self:flex-start;
left:96px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector8
{
background-color:#ffffff;
height:18px;
width:18px;
width:18px;
height:18px;
left:3px;
top:3px;
width:18px;
height:18px;
position:absolute;
}
.logo--skype
{
background-color:#ffffff;
height:24px;
width:24px;
align-self:flex-start;
left:144px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector9
{
background-color:#ffffff;
height:19.419296264648438px;
width:19.37429428100586px;
width:19.37429428100586px;
height:19.419296264648438px;
left:2.31px;
top:2.29px;
width:19.37429428100586px;
height:19.419296264648438px;
position:absolute;
}
.logo--twitter
{
background-color:#ffffff;
height:24px;
width:24px;
align-self:flex-start;
left:192px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector10
{
background-color:#ffffff;
height:13.407815933227539px;
width:16.5px;
width:16.5px;
height:13.407815933227539px;
left:3.75px;
top:5.29px;
width:16.5px;
height:13.407815933227539px;
position:absolute;
}
.logo--pinterest
{
background-color:#ffffff;
height:24px;
width:24px;
align-self:flex-start;
left:240px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector11
{
background-color:#ffffff;
height:21.00079917907715px;
width:20.928512573242188px;
width:20.928512573242188px;
height:21.00079917907715px;
left:1.57px;
top:1.5px;
width:20.928512573242188px;
height:21.00079917907715px;
position:absolute;
}
.textinput
{
height:56px;
width:627px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
border-style:hidden;
outline:none;
top:94px;
left:730px;
}
.frame45
{
background-color:rgba(255, 255, 255, 0.15000000596046448);
height:56px;
width:499px;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:relative;
gap:10px;
}
.your@email.com
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
align-self:flex-start;
left:32px;
top:17px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:142px;
display:flex;
}
.buttonmedium
{
background-color:#ffffff;
height:56px;
width:128px;
align-self:flex-start;
left:499px;
top:0px;
position:absolute;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
}
.button2
{
color:#2a254b;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Marko One;
align-self:flex-start;
left:32px;
top:16px;
position:absolute;
width:64px;
height:24px;
line-height:150px;
border-style:hidden;
outline:none;
display:flex;
}
.banners
{
background-color:#008080;
height:41px;
width:1440px;
padding:0px;
border-style:hidden;
outline:none;
top:0px;
left:1px;
position:absolute;
}
.close
{
background-color:#ffffff;
height:24px;
width:24px;
padding:0px;
border-style:hidden;
outline:none;
left:1400px;
top:8px;
position:absolute;
}
.vector12
{
background-color:#ffffff;
height:12px;
width:12px;
width:12px;
height:12px;
left:6px;
top:6px;
width:12px;
height:12px;
position:absolute;
}
.frame21
{
height:19px;
width:614px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:absolute;
top:11px;
left:412.5px;
}
.delivery
{
background-color:#ffffff;
height:16px;
width:16px;
align-self:flex-start;
top:1.5px;
left:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector13
{
background-color:#ffffff;
height:11.000004768371582px;
width:14px;
width:14px;
height:11.000004768371582px;
left:1px;
top:3px;
width:14px;
height:11.000004768371582px;
position:absolute;
}
.freedeliveryonallordersover£50withcodeeastercheckout
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Marko One;
align-self:flex-start;
left:24px;
top:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:590px;
display:flex;
}
